{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'cliche/css/style.css' %}">
    <title>Заголовок страницы для верстки</title>
</head>
<body>
    <div class="example-block">
        Блочный тег. <br/>
        Проблеме религиозных взглядов Петра Ильича Чайковского в настоящее время посвящена обширная научная литература.
        Кандидат искусствоведения Ольга Захарова относила её «к числу трудных и вызывающих в музыковедении прямо
        противоположные по своей направленности ответы». Если современники не придавали большого значения религиозным
        взглядам Петра Чайковского, а в советское время композитора однозначно относили к материалистам, то в
        современной музыковедческой
    </div>
    <br/>
    <span class="example-string">
        Строчный тег. <br/>
        Ольга Захарова сделала вывод, что Чайковский в последние годы жизни сосредоточился только на нравственной
        стороне учения Христа, не смог преодолеть своих сомнений в догматике и, по её словам, «в целом отошёл от
        православия». Именно с этим она связывала отказ композитора от создания новых произведений для церковного
        обихода.
    </span>
    <br/>
    <img class="example-image" src="{% static 'cliche/images/1587025328_2.jpg' %}" alt="">
</body>
</html>